* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eee;
}

header {
    display: flex;
    justify-content: center;
    margin: 60px 0px;
}

header h1 {
    color: #313131;
    font-weight: 400;
    text-align: center;
}

header:hover {
    text-decoration: underline;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.form form {
    display: flex;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
    max-width: 420px;
}

.form form input[type="text"] {
    display: block;
    padding: 12px 16px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    background-color: #fff;
    border-radius: 0px 0px 0px 10px;
    width: 100%;
    color: #666666;
}

.form form input[type="submit"] {
    display: block;
    padding: 12px 16px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    background-color: #db4725;
    color: #fff;
    border-radius: 0px 10px 0px 0px;
    font-weight: 700;
}

.urls {
    display: block;
}

.urls .url {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto 16px;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.urls .url.new {
    border: 1px solid #8c38ff;
    animation: scale 1s 1s ease-in-out forwards;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.urls .url .id {
    flex: 1 1 100px;
    max-width: 100px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.urls .url .short_url,
.urls .url .short_url {
    flex: 1 1 0%
}

.urls .url label  {
    color: #666666;
    text-decoration: none;
    font-weight: 600;
}

.urls .url .long_url {
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

a {
    text-decoration: none;
    color: #db4725;
    font-weight: 500;
}
